 .container-menu{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0 !important;
  padding-right: 0 !important;

 }
.containerLogo{
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
  }
}
 .menu-container-web{
  background-color: var(--primary-color) !important;
  padding-top: .4rem ;
  a{
    text-decoration: none;
    color: #fff;
  }
}

.menu-item{
  gap: 2rem;
  display: flex;
 align-items: baseline;
 
 a{
  text-decoration: none;
}
  p{
    color: var(--bg-color);
     margin-top: .4rem;
     transition: color .3s;
  }
  p:hover{
    color: var(--text-color);
  }
}

.logout-menu{
  border: #fff solid 1px;
  background-color: transparent;
  color: #fff;
  padding: .2rem .8rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: "roboto";
  transition: all .3s;
  &:hover{
    color: var(--text-color);
    border: var(--text-color) solid 1px;
  }
}

@media (max-width: 1200px){
  .container-menu{
    margin-inline: 20px;
  }
}


@media (max-width: 600px){
  .menu-item{
    flex-direction: column;
    gap: 0;
    margin-left: 1rem;
    display: block;
    p{
      color: var(--primary-color);
      margin-top: 0;
    }
    .containerLogo  {
      margin: 2rem 0;
    }
  }
  .logout-menu{
    border: var(--primary-color) solid 1px;
    color: var(--primary-color);
    transition: all .3s;
    &:hover{
      color: var(--text-color);
      border: var(--text-color) solid 1px;
    }
  }
}