.section-singup {
  min-height: calc(100vh - 96px);
  display: flex;
  justify-content: center;
  align-items: center;
  > form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: solid var(--primary-color) 1px;
    border-radius: 8px;
    gap: 20px;
    background-color: var(--background-color);
    width: 360px;
    h1 {
      color: var(--secundary-color);
    }
    a {
      color: var(--secundary-color);
      text-decoration: none;
      transition: color 0.3s;
      &:hover {
        color: var(--primary-color);
      }
    }
    button {
      background-color: var(--secundary-color);
      color: #fff;
      border-radius: 4px;
      border: none;
      padding: 0.4rem;
      cursor: pointer;
      transition: 0.3s background-color;
      &:hover {
        background-color: var(--primary-color);
      }
    }
    input {
      background-color: #fff;
      padding: 0.3rem;
      border-radius: 4px;
      border: var(--primary-color) solid 1px;
      outline: var(--secundary-color);
    }
  }
}

@media (max-width: 420px) {
  .section-singup {
    > form {
      width: 100%;
      margin: 0 20px;
    }
  }
}
