.container-notfound{
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  >div{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
  }
  img{
    width: 60%;   
  }
  p{
    text-align: center;
    color: var(--text-color);
  }
  button{
    padding: .4rem 2rem;
    border: solid var(--primary-color) 1px;
    border-radius: 4px;
    margin-top: 2rem;
    color: var(--primary-color);
    transition: all .3s;

    &:hover{
      background-color: var(--primary-color);
      color: white;
    }
  }
}

